<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>{{title}}</h1>
    <p>Created By: {{name}}</p>
    <script src="/js/app.js"></script>
</body>
</html>